.CreateBoardModal {
  .SkyBule {
    background-color: #3fe2e2 !important;
    border-radius: 16px;
    margin-right: 5px;
  }
  .LightPurple {
    background-color: #c582c5 !important;
    border-radius: 16px;
    margin-right: 5px;
  }
  .LightPink {
    background-color: #ffc0cb !important;
    border-radius: 16px;
    margin-right: 5px;
  }
  .Yellow {
    background-color: #ffff00 !important;
    border-radius: 16px;
    margin-right: 5px;
  }
  .CreateBoard {
    background-color: brown !important;
    border-color: brown !important;
    color: white !important;
    font-size: 15px;
    font-weight: 400;
    border-radius: 6px;
    float: right;
    margin-top: 50px;
  }
  .Headingboard {
    color: black;
    font-weight: 700;
    font-size: 18px;
  }
}
.CreateNew {
  background-color: brown !important;
  border-color: brown !important;
  color: white !important;
  font-size: 15px;
  font-weight: 400;
  border-radius: 8px;
  height: 40px;
}
