.CreateBoardModal {
  .SkyBule {
    background-color: rgba(63, 226, 226, 0.833) !important;
    border-radius: 16px;
    margin-right: 5px;
  }
  .LightPurple {
    background-color: rgb(197, 130, 197) !important;
    border-radius: 16px;
    margin-right: 5px;
  }
  .LightPink {
    background-color: pink !important;
    border-radius: 16px;
    margin-right: 5px;
  }
  .Yellow {
    background-color: yellow !important;
    border-radius: 16px;
    margin-right: 5px;
  }
  .CreateBoard {
    background-color: brown !important;
    border-color: brown !important;
    color: white !important;
    font-size: 15px;
    font-weight: 400;
    border-radius: 6px;
    float: right;
    margin-top: 50px;
  }
  .Headingboard {
    color: black;
    font-weight: 700;
    font-size: 18px;
  }
  .Addphoto {
    width: 150px;
    text-align: center;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.521);
    height: fit-content;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .seprator {
    border-bottom: 1px solid rgb(219, 216, 216);
  }
}
.CreateNew {
  background-color: brown !important;
  border-color: brown !important;
  color: white !important;
  font-size: 15px;
  font-weight: 400;
  border-radius: 8px;
  height: 40px;
}
